<html>
<body>
<form action="/task/<%= id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="edit_task">
  <button type="submit">Edit Task</button>
</form>
</body>
</html>