<html>
<body>
<h1><%= TASK_ARR[id] %></h1>

<a href="/task/<%= id %>/edit" >Edit Task</a>
<form action="/task/<%= id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Delete Task</button>
</form>
</body>
</html>